/* ===== Auth Page Layout ===== */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 400px;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

p {
    opacity: 0.8;
    margin-bottom: 30px;
}

.google-btn {
    background:  rgb(84, 132, 221);
    color: black;
    padding: 14px 25px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.google-btn:hover {
    transform: scale(1.05);
}

.footer {
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.6;
}
button{
        background: rgb(84, 132, 221);
    color: black;
    padding: 14px 25px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    transform: scale(1.05);
}